@page "/"

<div class="cardsContainer" width="50vw">
    <div class="card three-line" style="background-color:green">
        <a class="link" href="set/Easy">
            EASY
        </a>
    </div>


    <div class="card three-line" style="background-color:red">
        <a class="link" href="set">
            HARD
        </a>
    </div>
</div>