@page "/set"

@using SETLogicLibrary.Models
@using SETLogicLibrary.Interfaces
@using SETInBlazor.Services.Interfaces

@inject ICardHelperService _cardHelperService
@inject IUiHelperService _uiHelperService

@if (uniqueCardCombinations == null)
{
    <div>Loading...</div>
}
else
{
    <div class="cardsContainer">
        @for (int i = 0; i < numberOfCardsVisible; i++)
        {
            <div class="card @lineClass" @onclick="() => ChangeBackGroundColor(uniqueCardCombinations[i])">
                @for (int j = 0; j < uniqueCardCombinations[i].Count; j++)
                {
                    <div class="@uniqueCardCombinations[i].Shape @uniqueCardCombinations[i].Color @uniqueCardCombinations[i].Border"></div>
                }
            </div>
        }
    </div>
}

@code {
    private int numberOfCardsVisible = 12;
    private List<SetCard> uniqueCardCombinations;
    private string lineClass;

    protected override void OnInitialized()
    {
        uniqueCardCombinations = _cardHelperService.CreateAllUniqueCombinations();
        lineClass = _uiHelperService.GetLineClass(numberOfCardsVisible);

    }

    private void ChangeBackGroundColor(SetCard setCard)
    {
        
    }

}
