@page "/set"
@page "/set/{difficultyVariation}"

@if (uniqueCardCombinations == null)
{
    <div>Loading....</div>
}
else
{
    <div class="cardsContainer">
        @for (int i = 0; i < numberOfCardsVisible; i++)
        {
            var card = uniqueCardCombinations[i];
            <div class="card @lineClass @card.Animation" style="background-color:@card.BackGroundColor;" 
                    @onclick="() => ProcessSelection(card)">

                @for (int j = 0; j < card.Count; j++)
                {
                    <div class="@card.Shape @card.Color @card.Border"></div>
                }
            </div>
        }
    </div>
}
